.header {
  height: 6.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
}

.search {
  box-shadow: 0.02rem 0.02rem 0.2rem 0.09rem rgb(226, 226, 226);
  width: 25rem;
  height: 3.8rem;
  border-radius: 1.1rem;
  display: flex;
}

.search > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.search > div:nth-child(1) {
  width: 50%;
}

.search > div:nth-child(2) {
  width: 30%;
  border-left: solid 0.07rem rgb(226, 226, 226);
  border-right: solid 0.07rem rgb(226, 226, 226);
  color: rgb(185, 185, 185);
}

.search > div:last-child {
  width: 20%;
}

.glass {
  color: #f35b5b;
  width: 1.5rem;
  height: 1.3rem;
}
