.main {
  color: black;
  background-color: white;
  /* margin-top: 11.2vh; */
}

.h1 {
  font-weight: 700;
}

.h3 {
  font-weight: 500;
  padding-left: 0.2rem;
}

.container {
  /* border: solid; */
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 95vw;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  width: 26rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  /* border: solid; */
  margin: 1rem;
}

.image {
  /* margin: 0 auto; */
  position: relative;
  width: 100%;
  height: 80%;
}

.line {
  padding: 1rem 5rem 0.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardline {
  /* border: solid; */
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-top: 1rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.host {
  border: solid 0.13rem #f35b5b;
  border-radius: 0.8rem;
  width: 28%;
  height: 100%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #f35b5b;
}

.greytext {
  color: rgb(185, 185, 185);
  font-weight: 500;
}

.star {
  color: #f35b5b;
  margin-left: 0.3rem;
}
